<div class="clearfix">
  <table>
    <tr>
      <td class="counter per lima wide"><span class="first one">1,969</span>schools in the Metropolitan Area of lima</td>
      <td class="counter per lima"><span class="second">250</span>safe schools</td>
      <td class="counter per lima"><span class="thirth">1,719</span>unsafe  schools</td>
    </tr>
  </table>
</div>