<div>
  <div class="row">
    <h2>Examples of seismic retrofitting techniques</h2>

    <h4>Column section increasing: rectangular section to “T” section</h4>

    <div class="picture-box">
      <img src="/app/images/countries/PER/seismic-examples-01.jpg" />
      <p class="picture-descripton center">Structural detail (section)</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/seismic-examples-02.jpg" />
      <p class="picture-descripton">Retrofitting work example</p>
      <p class="picture-reference">Reference: Antonio Blanco Blasco</p>
    </div>
  </div>

  <div class="row">
    <h4>Seismic frame incorporation</h4>

    <div class="picture-box">
      <img src="/app/images/countries/PER/seismic-examples-03.jpg" />
      <p class="picture-descripton center">Structural detail (elevation)</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/seismic-examples-04.jpg" />
      <p class="picture-descripton">Retrofitting work example</p>
      <p class="picture-reference">Reference: Educational Infrastructure Office (OINFE)</p>
    </div>
  </div>

  <div class="row last">
    <h4>Seismic cross bracing</h4>

    <div class="picture-box">
      <img src="/app/images/countries/PER/seismic-examples-05.jpg" />
      <p class="picture-descripton center">Structural detail (elevation)</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/seismic-examples-06.jpg" />
      <p class="picture-descripton">Retrofitting work example</p>
      <p class="picture-reference">Reference: Educational Infrastructure Office (OINFE)</p>
    </div>
  </div>

</div>