                                                                                        <div>
  <div class="row last">
    <h2>Historical damages</h2>
    <p> </p>

    <div class="picture-box">
      <img src="/app/images/countries/PER/img_per_riskconditions_historical_02.jpg" />
      <p class="picture-descripton">Arequipa Earthquake, 2001. Magnitude 8,2 Mw.</p>
      <p class="picture-descripton">Shear failure – short column issue</p>
      <p class="picture-reference">Reference: Educational Infrastructure Office (OINFE)</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/img_per_riskconditions_historical_01.jpg" />
      <p class="picture-descripton">Arequipa Earthquake, 2001. Magnitude 8,2 Mw.</p>
      <p class="picture-descripton">Collapse - unconfined non structural walls</p>
      <p class="picture-reference">Reference: Educational Infrastructure Office (OINFE)</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/img_per_riskconditions_historical_03.jpg" />
      <p class="picture-descripton">Nazca Earthquake, 1996. Magnitude 7,7 Mw.</p>
      <p class="picture-descripton">Shear failure – short column issue</p>
      <p class="picture-reference">Reference: Antonio Blanco Blasco</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/img_per_riskconditions_historical_04.jpg" />
      <p class="picture-descripton">Arequipa Earthquake, 2001. Magnitude 8,2 Mw.</p>
      <p class="picture-descripton">Damage - unconfined non structural walls</p>
      <p class="picture-reference">Reference: Antonio Blanco Blasco</p>
    </div>

  </div>
</div>