<div>
  <div class="row">
    <h2>Functional indicators</h2>
    
    <h4>Water and sanitation conditions</h4>

    <div class="riskreduction-functional-water graph"></div>
    <div class="riskreduction-functional-water-legend"></div>
  </div>

  <div class="row">
    <h4>Property rights</h4>

    <div class="riskreduction-functional-legal graph"></div>
    <div class="riskreduction-functional-legal-legend"></div>
  </div>

  <div class="row">
    <h4>Access to telecommunication services</h4>

    <div class="riskreduction-functional-telecom graph"></div>
    <div class="riskreduction-functional-telecom-legend"></div>
  </div>

  <div class="row">
    <h4>Availability of energy services</h4>

    <div class="riskreduction-functional-energy graph"></div>
    <div class="riskreduction-functional-energy-legend"></div>
  </div>

  <div class="row last">
    <h4>Area in plan of school facilities</h4>

    <div class="riskreduction-functional-school graph"></div>
    <div class="riskreduction-functional-school-legend"></div>

    <div class="riskreduction-functional inner-content">
      <div class="content">
        <div class="left">
          <p>Total school area compared to total number of students</p>
          <div class="riskreduction-functional-total graph"></div>
          <div class="riskreduction-functional-total-legend"></div>
        </div>
        
        <div class="right">
          <p>Open area compared to total number of students</p>
          <div class="riskreduction-functional-free graph"></div>
          <div class="riskreduction-functional-free-legend"></div>
        </div>

        <div>
          <p>Area of sports complex compared to total number of students</p>
          <div class="riskreduction-functional-sport graph"></div>
          <div class="riskreduction-functional-sport-legend"></div>
        </div>
      </div>
    </div>
  </div>
</div>