<div>
  <div class="row">
    <h2>Structural typologies</h2>

    <div class="riskconditions-structural graph"></div>
    <div class="riskconditions-structural-legend"></div>

    <div class="content-references">
      <p>Reference: Ministry of Education (MINEDU)</p>
      <p>and National Institute of Statistics (INEI)</p>
    </div>

  </div>

  <div class="row last">
    <div class="picture-box">
      <img src="/app/images/countries/PER/img_per_riskconditions_structural_01.jpg" />
      <p class="picture-descripton">Reinforced concrete frame</p>
      <p class="picture-reference">Reference: Pontifical Catholic University (PUCP)</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/img_per_riskconditions_structural_03.jpg" />
      <p class="picture-descripton">Confined masonry</p>
      <p class="picture-reference">Reference: Educational Infrastructure Office (OINFE)</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/img_per_riskconditions_structural_02.jpg" />
      <p class="picture-descripton">Unconfined masonry with lightweight roof</p>
      <p class="picture-reference">Reference: Pontifical Catholic University (PUCP)</p>
    </div>

    <div class="picture-box">
      <img src="/app/images/countries/PER/img_per_riskconditions_structural_04.jpg" />
      <p class="picture-descripton">Adobe (mud brick)</p>
      <p class="picture-reference">Reference: Pontifical Catholic University (PUCP)</p>
    </div>
  </div>
</div>