<div>
  <div class="row last top">
    <h2>Structural indicators: Regional level</h2>

  </div>

  <div class="riskreduction-structural-regional-legendbox">
    {{#if departamentsList}}
      <div class="regional-legend">
        <ul>
        {{#each departamentsList}}
          <li>
            <span class="square" style="background:{{value}}"></span>{{name}}
          </li>
        {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>

  <div class="row last">

    <div class="riskreduction-structural-regional-graphlist">
      {{#if regions}}
        <ul>
        {{#each regions}}
          <li>
            <h4>{{name}}</h4>
            <div class="riskreduction-structural-regional-{{dep_id}} graph"></div>
          </li>
        {{/each}}
        <ul>
      {{/if}}
    </div>

  </div>

</div>