<div>
  <div class="row last">
    <h2>Aggregated annual average loss per number of schools in the Metropolitan Area of Lima</h2>

    <div class="picture-box">
    	<p></p>
      <img src="/app/images/countries/PER/annual-graph.jpg" />
      <p class="picture-descripton"></p>
      <p class="picture-descripton">The graph shows that interventions on 600 schools (30% of the portfolio) can reduce 70% of the seismic risk.</p>
    </div>
</div>