<div>
  <div class="row">
    <h2>Background on schools</h2>

    <h4>Who has built public schools in Peru?</h4>

    <div class="overview-additional-whobuilt graph"></div>
    <div class="overview-additional-whobuilt-legend"></div>

    <div class="content-references">
      <p>Reference: Ministry of Education (MINEDU)</p>
      <p>and National Institute of Statistics (INEI)</p>
    </div>

  </div>

  <div class="row last">
    <h4>When were public schools built?</h4>

    <div class="overview-additional-whenbuilt graph"></div>
    <div class="overview-additional-whenbuilt-legend"></div>

    <div class="overview-additional-whenbuilt-extralegend">
      <div class="legend-content">
        <h4>Seismic Code Timeline</h4>
        <p>1976: 1st seismic code</p>
        <p>1997: 2nd seismic code</p>
        <p>2003: 3rd and current seismic code</p>
      </div>
    </div>

    <div class="content-references">
      <p>Reference: Ministry of Education (MINEDU)</p>
      <p>and National Institute of Statistics (INEI)</p>
    </div>

  </div>
</div>