<div class="clearfix">
  <table>
    <tr>
      <td class="counter per"><span class="first">40,506</span>school facilities</td>
      <td class="counter per"><span class="second">13,552</span>urban schools</td>
      <td class="counter per"><span class="thirth">26,007</span>rural schools</td>
	  <td class="counter per"><span class="thirth">947</span>unknown location</td>
    </tr>
  </table>
</div>