<ul>
    <li class="global"><a href="#global">Global <span class="icon"></span></a>
        {{#if areas}}
            <div class="child">
                <ul>
                    {{#each areas}}
                        <li><a href="#area/{{code}}">{{name}}</a>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </li>
    {{#if current.area}}
        <li class="separator"></li>
        <li class="areas">
            <a href="#area/{{current.area.code}}" class="current">{{current.area.name}} <span class="icon"></span></a>
            <div class="child">
                <ul>
                    {{#each countries}}
                        <li><a href="#country/{{code}}">{{name}}</a>
                    {{/each}}
                </ul>
            </div>
        </li>
    {{/if}}
    {{#if current.country}}
        <li class="separator"></li>
        <li class="countries">
            <a href="#country/{{current.country.code}}" class="current">{{current.country.name}}</a>
        </li>
    {{/if}}
</ul>
