<div class="row">
  <div class="col-12">
    <header>
      <div class="dashboard-info" id="info">
        <div class="clearfix">
          <table>
              <tr>
                  <td class="counter"><span class="first">{{{dots info.safe}}}</span> safe school facilities</td>
                  <td class="counter"><span class="second">{{{dots info.unsafe}}}</span> unsafe school facilities</td>
                  <td class="counter"><span class="thirth">{{{dots info.unknown}}}</span> unknown</td>
              </tr>
          </table>
        </div>
      </div>
    </header>
  </div>

  <div class="col-12">
    <div class="tabs">

      <ul>
        <li><a href="#school-info">Country overview</a></li>
        <li><a href="#projects-country">Projects</a></li>
      </ul>

      <div id="school-info">
        <h2>{{{country.name}}}</h2>
        <div class="dashboard-article">
          {{#if country.description}}
            <div class="row">
              <div class="col-12">
                <h3>About the country</h3>
                {{{country.description}}}
              </div>
            </div>
          {{/if}}
          <div class="row-padded">
            <div class="col-12">
              <div class="char">
                <h3>Public spending on education, total (% of government expenditure)</h3>
                <iframe id="widgets-0" scrolling="no" frameborder="0" width="100%" height="230" src="http://data.worldbank.org/widgets/indicator/0/web_widgets_3/SE.XPD.TOTL.GB.ZS/countries/{{{country.code}}}-1W"></iframe>
              </div>
            </div>
            <div class="col-12">
              <div class="char">
                <h3>School enrollment, primary (% net)</h3>
                <iframe id="widgets-0" scrolling="no" frameborder="0" width="100%" height="230" src="http://data.worldbank.org/widgets/indicator/0/web_widgets_3/SE.PRM.NENR/countries/{{{country.code}}}-1W"></iframe>
              </div>
            </div>
            <div class="col-12">
              <div class="char">
                <h3>School enrollment, secondary (% net)</h3>
                <iframe id="widgets-0" scrolling="no" frameborder="0" width="100%" height="230" src="http://data.worldbank.org/widgets/indicator/0/web_widgets_3/SE.SEC.NENR/countries/{{{country.code}}}-1W"></iframe>
              </div>
            </div>
            <div class="col-12">
              <div class="char">
                <h3>Population ages 0-14 (% of total)</h3>
                <iframe class="char" id="widgets-0" scrolling="no" frameborder="0" width="100%" height="230" src="http://data.worldbank.org/widgets/indicator/0/web_widgets_3/SP.POP.0014.TO.ZS/countries/{{{country.code}}}-1W"></iframe>
              </div>
            </div>
          </div>

          {{!-- <div class="row">
            <div class="col-12">
              <div class="legend">
                <div class="legend-item">
                  <span class="first"></span> {{country.name}}
                </div>
                <div class="legend-item">
                  <span class="thirth"></span> Upper Middle Income
                </div>
              </div>
            </div>--}}
          </div>
        </div>
      </div>

      <div id="projects-country">
        <div class="col-12">
          <h2>Ongoing projects</h2>
          <div class="dashboard-list" id="country-schools">
            <ul>
              {{#each projects}}
                <li>
                  <a href="#project/{{id}}">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
