<ul>
    <li>
        <div class="select">
            <div class="label"><span class="icon-helper" data-layer="{{current.layer}}" data-overlay="{{current.slug}}"></span> {{current.name}}</div>
            <div class="icon"></div>
        </div>
        <ul>
            <li><a href="#" data-layer="none">None</a></li>
            {{#each tiles}}
                <li><a href="#" data-layer="{{layer}}"><span class="icon-helper" data-layer="{{layer}}" data-overlay="{{slug}}"></span> {{name}}</a>
            {{/each}}
        </ul>
    </li>
</ul>
