<div class="row">
    <div class="col-12">
        <header>
            <div class="dashboard-info" id="info">
                <div class="clearfix">
                    <table>
                        <tr>
                            <td class="counter"><span class="first">{{{dots info.safe}}}</span> safe school facilities</td>
                            <td class="counter"><span class="second">{{{dots info.unsafe}}}</span> unsafe school facilities</td>
                            <td class="counter"><span class="thirth">{{{dots info.unknown}}}</span> unknown</td>
                        </tr>
                    </table>
                </div>
            </div>
        </header>
    </div>
    <div class="col-12">
        <div class="dashboard-visualization" id="vis">
          <div class="dashboard-graph">
            <img src="/app/images/temp-info-char.png" width="475" height="176" class="temp-image">
          </div>
          <div class="dashboard-timeline">
            <div class="ages">
              <table>
                <tr>
                  {{#each ages}}
                    <td width="{{../timeline_width}}">
                      <span class="value" id="value{{this}}">{{this}}</span>
                      <span class="mark"></span>
                    </td>
                  {{/each}}
                </tr>
              </table>
            </div>
            <div class="time-range" id="timerange"></div>
          </div>
        </div>
    </div>
    <div class="col-12">
        <div class="dashboard-list" id="list">
            <h2>Ongoing projects</h2>
            <ul>
                {{#each projects}}
                    <li>
                        <a href="#project/{{id}}">
                            <h3>{{name}}</h3>
                            <p>{{description}}</p>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
