<div class="infowindow">
    <button href="#close" class="btn-close-infowindow close"></button>
    <div class="infowindow-content clearfix">
        <h2>{{school_name}}</h2>
        <p>{{level}}<br> {{street}}, {{location}}</p>
        <p class="status {{safe_txt}}">{{safe_txt}}</p>
        <a href="#school/{{cartodb_id}}" class="btn-more-info">More info <span class="icon"></span></a>
    </div>
</div>
