<div class="row">
    <div class="col-12">
        <header>
            <nav class="dashboard-nav clearfix">
                <a href="#back" class="dashboard-btn-back"><span class="icon-back"></span>Back</a>
            </nav>
            <div class="row">
                <div class="col-6">
                    <div class="dashboard-summary">
                        <h2>Active</h2>
                        <div class="dashboard-summary-content">
                            <table>
                                <tr>
                                    <td rowspan="2">
                                        <img src="/app/images/assets/sprites/icon-project-active.png" height="33" width="35">
                                    </td>
                                    <th>Start</td><td>{{project.start_date}}</td>
                                </tr>
                                <tr>
                                    <th>End</td><td>{{project.end_date}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="dashboard-summary">
                        <h2>Amount</h2>
                        <div class="dashboard-summary-content">
                            <div class="currency">
                                <span>US$</span>
                                {{project.amount}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="dashboard-nav {{hidden}}">
                <a href="#project-schools" class="dashboard-btn-down">View schools <span class="icon"></span></a>
            </nav>
        </header>
    </div>
    <div class="col-12">
      <article>
        <h2>{{project.name}}</h2>
        <div class="dashboard-article">
          {{{project.body}}}
        </div>
      </article>
    </div>
    <div class="col-12">
        <div class="dashboard-list {{hidden}}" id="project-schools">
            <h2>Safe school facilities in {{country.name}}</h2>
            <ul>
                {{#each schools}}
                    <li>
                        <a href="#school/{{id}}">
                            <h3>{{school_name}}</h3>
                            <p>{{level}}{{#if location}}, {{location}}{{/if}}</p>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
