<div class="row">
    <div class="col-12">
        <header>
            <nav class="dashboard-nav clearfix">
                <a href="#back" class="dashboard-btn-back"><span class="icon-back"></span>Back</a>
            </nav>
            <h2>{{school_name}}</h2>
            <div class="row">
                <div class="col-6">
                  <div class="dashboard-summary">
                    <h2>Safe status</h2>
                    <div class="dashboard-summary-content">
                      {{#if safe}}
                        <div class="safe"><span class="icon"></span> Safe</div>
                      {{else}}
                        <div class="unsafe">Unsafe</div>
                      {{/if}}
                    </div>
                  </div>
                </div>
                <div class="col-6">
                    <div class="dashboard-summary">
                        <h2>Rebuilt</h2>
                        <div class="dashboard-summary-content">
                            <table>
                                <tr>
                                    <td rowspan="2">
                                        <img src="/app/images/assets/sprites/icon-project-active.png" height="33" width="35">
                                    </td>
                                    <th>Start</td><td></td>
                                </tr>
                                <tr>
                                    <th>End</td><td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="col-12">
        <article class="dashboard-article">
            <h3>Info</h3>

            {{#if level}}
              <p><strong>Level</strong>: {{level}}</p>
            {{/if}}

            <p><strong>Address</strong>: {{street}}{{#if location}}, {{location}}{{/if}}</p>

            <p><strong>Website</strong>: <a href="http://www.loremipsum.com">www.loremipsum.com</a></p>

            <h3>Donors</h3>
            <ul class="thumb-list">
                <li><img src="/app/images/donors/world-bank.png"></li>
                <li><img src="/app/images/donors/european-investment-bank.png"></li>
                <li><img src="/app/images/donors/ceb.png"></li>
                <li><img src="/app/images/donors/islamic-development-bank.png"></li>
            </ul>
        </article>
    </div>
</div>
