<ul>
  <li>
    <div class="select">
      <div class="label"><span class="icon-helper" data-content="{{current.code}}-data" data-overlay="{{current.code}}"></span> {{current.name}}</div>
      <div class="icon"></div>
    </div>
    <ul>
      {{#each sources}}
        <li><a href="#{{code}}" data-source="{{code}}"><span class="icon-helper" data-overlay="{{code}}" data-content="{{code}}-data"></span> {{name}}</a></li>
      {{/each}}
    </ul>
  </li>
</ul>
