#popup-box {
	width: 100%;
	min-width: 840px;
	height: 0%;
	position: absolute;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	z-index: 999999999;
	overflow: hidden;

	&.show {
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		opacity: 1;
		transition: opacity .2s;
	}

	#popup-box-container {
		width: 90%;
		height: auto;
		min-height: 100%;
		margin: 60px auto;
		text-align: center;
	}

	#popup-box-content {
		width: 100%;
		height: auto;
		min-height: 500px;
		background: #ffffff;
		float: left;
		margin-top: 30px;
		position: relative;
		@include border-top-left-radius(5px);
		@include border-top-right-radius(5px);

		#popup-box-close {
			top: -10px;
			right: -10px;
			width: 20px;
			height: 20px;
			background: #434343;
			border: 1px solid #fff;
			@include border-radius(10px);
			position: absolute;
			cursor: pointer;
		}

		#popup-box-text {
			width: 100%;
			height: auto;
			min-height: 100%;
			@include border-top-left-radius(5px);
			@include border-top-right-radius(5px);
			overflow: hidden;
		}
	}
}