{% extends 'templates/content.twig' %}

{% block main %}
  <div class="container" id="about">
    <div class="inner-container">
      <div class="main-content">
        <section id="about-intro">
          <div class="row">
            <div class="col-12">
              <header>
                <h1>Comprehensive School Safety Framework</h1>
                <p>The goals of comprehensive school safety are to (1) protect learners and education workers from death, injury and harm in schools, (2) plan for educational continuity in the face of expected hazards, (3) safeguard education sector investments, and (4) strengthen climate-smart disaster resilience through education.</p>
              </header>
            </div>
          </div>
          <div class="intro-nav">
            <div class="row-padded">
              <ul class="nav-content">
                <li><a class="icon-res-safe" href="#safe-learning-facilities"><span>Safe Learning Facilities</span></a></li>
                <li><a class="icon-res-school" href="#school-disaster-management"><span>School Disaster Management</span></a></li>
                <li><a class="icon-res-risk" href="#risk-reduction-resilience"><span>Risk Reduction and Resilience</span></a></li>
              </ul>
            </div>
          </div>
        </section>

        <section id="about-content" class="content">
          <div class="row">
            <div class="col-12">
              <div id="aboutTabs">
                </nav>
                <div id="introduction"></div>
                <div id="safe-learning-facilities">
                  <header>
                    <h1>Safe Learning Facilities</h1>
                    <!-- <img src="{{asset_url}}/images/about/intro.jpg" class="push-left"> -->
                    <!-- <h2>Introduction</h2> -->
                    <p>Safe Learning Facilities involves education authorities, architects, engineers, builders and school community members in safe site selection, design, construction and maintenance (including safe and continuous access to the facility). The key responsibilities for both public and private schools are to:</p>
                  </header>
                  <article class="clearfix">
                    <img src="{{asset_url}}/images/about/rationale.jpg" class="push-right">
                    <p>Select safe school sites and implement disaster-resilient design and construction to make every new school a safe school.</p>
                    <p>Implement prioritization schema for retrofit and replacement (including relocation) of unsafe schools.</p>
                    <p>Minimize building and facilities non-structural and infrastructural risks from all sources, including design as well as interior layout and furnishings safe for survival and evacuation.</p>
                    <p>Incorporate access and safety for people with disabilities in design and construction of school facilities.</p>
                    <p>If schools are planned as temporary community shelters, design them to meet these needs. And be sure to plan for suitable alternate facilities for educational continuity.</p>
                    <p>Ensure that children’s access to schools is free from physical risks (pedestrian paths, road and river crossings)</p>
                    <p>Water and sanitation facilities adapted to potential risks (rain-fed and lined latrines)</p>
                    <p>Implement climate-smart interventions such as rainwater harvesting, solar panels, renewable energy, school gardens</p>
                    <p>Plan for continuous monitoring, financing and oversight for ongoing facilities maintenance and safety.</p><br><br><br><br><br><br><br>

                  </article>
                </div>

                <div id="school-disaster-management">
                  <header>
                    <h1>School Disaster Management</h1>
                    <p>School Disaster Management is established via national and sub-national education authorities and local school communities (including children and parents), working in collaboration with their disaster management counterparts at each jurisdiction, in order to maintain safe learning environments and plan for educational continuity, conforming to international standards. The key responsibilities are to:</p>
                  </header>
                  <article>
                    <img src="{{asset_url}}/images/about/rationale.jpg" class="push-left">
                    <p>Provide policies, guidance at sub-national and school-site levels for ongoing site-based assessment and planning, risk reduction, and response preparedness as part of normal school management and improvement.</p>
                    <p>Develop, train, institutionalize, monitor and evaluate school-site committees. These should be empowered to lead identification and mapping of hazards inside and outside school and community and action-planning for ongoing disaster risk reduction and preparedness activities. Encourage participation of staff, students, parents and community stakeholders in this work.</p>
                    <p>Adapt standard operating procedures as needed, for hazards with and without warnings, including: drop cover and hold, building evacuation, evacuation to safe haven, shelter-in-place and lockdown, and safe family reunification.</p>
                    <p>Engage schools in making early warning and early action systems meaningful and effective.</p>
                    <p>Establish national and sub-national contingency plans, based on Interagency Network for Education in Emergencies (INEE) Minimum Standards (2010), to support educational continuity, including plans and criteria to limit the use of schools as temporary shelters.</p>
                    <p>Identify alternate locations for temporary schools and alternate modes of instruction</p>
                    <p>Incorporate the needs of pre-school and out-of-school children, children with disabilities, and both girls and boys.</p>
                    <p>Link education sector and disaster management sector policies and plans at each level of social organization (national, sub- national levels, and local and school-site level) and establish communication and coordination linkages across sectors.</p>
                    <p>Practice, critically evaluate, and improve on response preparedness, with regular school-wide and community- linked simulation drills. Adapt standard operating procedures to specific context of each school.</p>
                  </article>
                </div>

                <div id="risk-reduction-resilience">
                  <header>
                    <h1>Risk Reduction and Resilience Education </h1>
                    <p>Risk Reduction and Resilience Education should be designed to develop a culture of safety and resilient communities. Key responsibilities are to:</p>
                  </header>
                  <article>
                    <img src="{{asset_url}}/images/about/rationale.jpg" class="push-right">
                    <p>Develop consensus-based key messages for reducing household and community vulnerabilities, and for preparing for and responding to hazard impacts as a foundation for formal and non-formal education.</p>
                    <p>Engage students in real-life school and community disaster management activities, including school drills for fire (and other hazards, where applicable).</p>
                    <p>Develop scope and sequence for teaching about critical thinking for expected and unexpected, man-made and natural hazards, climate change impacts, conflict-prevention and problem-solving for risk reduction.</p>
                    <p>Develop quality teaching and learning materials for students and teachers. Address all dimensions of climate-smart DRR education: disaster mechanisms, key messages for safety and preparedness, understanding risk drivers and mitigating the consequences of disasters, building community risk reduction capacity and a culture of safety and resilience.</p>
                    <p>Infuse risk reduction throughout the curriculum and provide guidelines for integration of DRR into carrier subjects.</p>
                    <p>Provide teacher training for both teachers and teacher trainees on risk reduction curriculum materials and methodologies.</p>
                    <p>Develop strategies to scale-up teacher involvement for effective integration of these topics into formal curriculum as well as non-formal and extra-curricular approaches with local communities.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <div class="bg-content">
        <div><!-- // --></div>
      </div>
    </div>

    <div id="overlay" class="overlay"></div>

    <div class="overlay-html" id="gfdrr">
      <article>
        <img src="{{asset_url}}/images/about/gfdrr.png" alt="GFDRR" width="315" height="100">
        <h2>Program Objectives of the Global Program for Safe School Facilities (GPSSF)</h2>
        <p>The aim of the program is to make school facilities, and the communities they serve, more resilient to natural hazards. The program development objective is therefore to save lives, reduce the physical impact of disasters on school infrastructure, and minimize the negative educational outcomes resulting from disaster.</p>
        <h2>Program Components</h2>
        <h3>Component 1:</h3>
        <p>Creating an Enabling Institutional, Policy, and Regulatory Environment for Risk Reduction. Strong institutions, policies, and regulations provide an essential framework for integrating risk reduction considerations into school construction programs. The objective of component 1 is to foster institutional and policy actions considered necessary for the planning and effective implementation of such programs.</p>
        <h3>Component 2:</h3>
        <p>Improving School Construction Practices from Planning to Maintenance. The objective of component 2 is to support countries in avoiding the creation of new risks and reducing existing risks through risk-informed construction and retrofitting of school infrastructure. This objective will be achieved by improving school construction practices to ensure that risk considerations are factored into all phases of schools construction.</p>
        <h3>Component 3:</h3>
        <p>Improving Educational Continuity Planning. Recognizing that disaster risks can never be completely eliminated, the objective of component 3 is to ensure that schools and education systems plan for continuity to minimize the disruption of educational activities in the event of a disaster.</p>
        <h2>Contacts</h2>
        <div class="row">
          <div class="col-6 contact-card">
            <p class="vcard"><strong class="fn">Niels Holm-Nielsen</strong><br> Lead Disaster Risk Management Specialist and Coordinator,<br> Latin America and the Caribean<br><br> The World Bank<br> <a href="mailto:nholmnielsen@worldbank.org" class="email">nholmnielsen@worldbank.org</a></p>
          </div>
          <div class="col-6 contact-card">
            <p class="vcard"><strong class="fn">Vica Rosario Bogaerts</strong><br> Disaster Risk Management Specialist,<br> Global Facility for Disaster Reduction and Recovery<br><br> The World Bank<br> <a href="mailto:vbogaerts@worldbank.org" class="email">vbogaerts@worldbank.org</a></p>
          </div>
        </div>
      </article>
    </div>

  </div>
{% endblock %}
