{% extends 'templates/layout.twig' %}

{% block stylesheets %}
  {% if env == 'production' %}
    <link rel="stylesheet" href="/dist/styles/application.css">
  {% else %}
    <link rel="stylesheet" href="/app/vendor/normalize-css/normalize.css">
    <link rel="stylesheet" href="/app/vendor/cartodb.js/dist/cartodb.css">
    <link rel="stylesheet" href="/app/vendor/jscrollpane/style/jquery.jscrollpane.css">
    <link rel="stylesheet" href="/app/lib/jquery-ui/css/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="/.tmp/styles/application.css">
  {% endif %}
{% endblock %}

{% block main %}
  <div id="popup-box"></div>
  <div class="application">
    <div class="row">
      <section class="region-dashboard col-4">
        <div class="dashboard-content">
          <div id="info"></div>
          <div id="project"></div>
          <div id="country"></div>
          <div id="school"></div>
        </div>
        <footer class="dashboard-footer">
          <nav>
            <a href="#about-this-site" data-overlay="about-this-site">About this site</a> · <a href="http://data.worldbank.org/" target="_blank">World bank data</a> · <a href="#legal" data-overlay="legal">Legal disclaimer</a>
          </nav>
        </footer>
        <div class="dashboard-spin" id="dashboardSpinner"></div>
      </section>

      <section class="region-map col-8">
        <div class="map-breadcrumbs" id="breadcrumbs"></div>

        <div class="map-down-toolbar" id="down-toolbar">
          <div class="item-down-toolbar" id="source"></div>
          <div class="item-down-toolbar" id="hazards"></div>
        </div>

        <div class="map-spinner" id="spinner">
          <div class="spinner-spin" id="spin"></div>
          <div class="spinner-label">Loading...</div>
        </div>

        <div class="map-visualization" id="map"></div>
      </section>
    </div>
  </div>

  <div id="overlay" class="overlay"></div>

  <div class="overlay-html" id="hazardsOverlay">
    <article>
      <div class="overlay-text">
        <h2>Hazards</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="tsunami">
    <article>
      <div class="overlay-thumb">
        <img src="/app/images/overlay/tsunami.png" width="166" height="166" alt="Tsunami Events">
      </div>
      <div class="overlay-text">
        <h2>Tsunami Events</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="cyclone">
    <article>
      <div class="overlay-thumb">
        <img src="/app/images/overlay/cyclone.png" width="166" height="166" alt="Cyclone tracks">
      </div>
      <div class="overlay-text">
        <h2>Cyclone tracks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="floods">
    <article>
      <div class="overlay-thumb">
        <img src="/app/images/overlay/floods.png" width="166" height="166" alt="Floods frequency">
      </div>
      <div class="overlay-text">
        <h2>Floods frequency</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="landslides">
    <article>
      <div class="overlay-thumb">
        <img src="/app/images/overlay/landslides.png" width="166" height="166" alt="Landslides frequency">
      </div>
      <div class="overlay-text">
        <h2>Landslides frequency</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="earthquake">
    <article>
      <div class="overlay-thumb">
        <img src="/app/images/overlay/earthquake.png" width="166" height="166" alt="Earthqueake Hazards">
      </div>
      <div class="overlay-text">
        <h2>Earthqueake Hazards</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="official">
    <article>
      <div class="overlay-thumb">
        <img src="/app/images/overlay/official.png" width="166" height="166" alt="Official data">
      </div>
      <div class="overlay-text">
        <h2>Official data</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="community">
    <article>
      <div class="overlay-thumb">
        <img src="/app/images/overlay/community.png" width="166" height="166" alt="Community data">
      </div>
      <div class="overlay-text">
        <h2>Community data</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="about-this-site">
    <article>
      <div class="overlay-text">
        <h2>About this site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>

  <div class="overlay-html" id="legal">
    <article>
      <div class="overlay-text">
        <h2>Legal</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, amet, quaerat laudantium doloribus tempora earum ea iure molestiae placeat inventore illo quibusdam accusamus molestias vel blanditiis? Beatae error deserunt veritatis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolores asperiores debitis velit aut hic minima impedit dolorum ut saepe? Dignissimos, consequatur excepturi recusandae dolores alias repellat quidem ipsa quo.</p>
      </div>
    </article>
  </div>
{% endblock %}

{% block javascripts %}
  {% if env == 'production' %}
    <script src="/dist/vendor/requirejs/require.js" data-main="dist/scripts/application"></script>
  {% else %}
    <script src="/app/vendor/requirejs/require.js" data-main="/app/scripts/application/main"></script>
  {% endif %}
{% endblock %}
