{% extends 'templates/layout.twig' %}

{% block stylesheets %}
  {% if env == 'production' %}
    <link rel="stylesheet" href="/dist/styles/application.css">
  {% else %}
    <link rel="stylesheet" href="/app/vendor/normalize-css/normalize.css">
    <link rel="stylesheet" href="/app/vendor/cartodb.js/dist/cartodb.css">
    <link rel="stylesheet" href="/app/vendor/jscrollpane/style/jquery.jscrollpane.css">
    <link rel="stylesheet" href="/app/lib/jquery-ui/css/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="/.tmp/styles/application.css">
  {% endif %}
{% endblock %}

{% block main %}
  <div class="browser-container">
    <div class="browser-not-supported">
      <div class="browser-box">
        <h3>You are using an unsupported browser</h3>
        <div class="browser-content">The browser you are using is not compatible with the latest web technologies (HTML5 and CSS3) necessary for the proper functioning of this website. To ensure full compatibility we recommend these other browsers: Chrome, Firefox, Safari and Internet Explorer in its lastest two versions.</div>
      </div>
    </div>
  </div>
{% endblock %}