{% extends 'templates/content.twig' %}

{% block main %}
  <div class="container" id="contact">
    <div class="inner-container">
      <div class="main-content">
        <section>
          <header>
            <div class="row">
              <div class="col-12">
                <h1>Contact</h1>
                <p>If yout have any questions, or would like further information, you can contact us.</p>
              </div>
            </div>
          </header>
          <div class="row">
            <div class="col-12">
              <form action="#" class="contact-form">
                <div class="form-row contact-type">
                  <label for="contact-type">Contact type that best fits your question</label>
                  <select name="contact-type">
                    <option>Select an option</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
                    <option value="option5">Option 5</option>
                  </select>
                </div>
                <div class="form-row">
                  <label for="organization">Organization</label>
                  <input type="text" name="organization">
                </div>
                <div class="form-row">
                  <label for="appointment">Appointment</label>
                  <input type="text" name="appointment">
                </div>
                <div class="form-row">
                  <label for="name">Name *</label>
                  <input type="text" name="name">
                </div>
                <div class="form-row">
                  <label for="mail">E-mail *</label>
                  <input type="email" name="email">
                </div>
                <div class="form-row">
                  <label for="comments">Comments *</label>
                  <textarea name="comments"></textarea>
                </div>
                <div class="form-row">
                  <input type="submit" value="Send">
                </div>
              </form>
            </div>
          </div>
        </section>
        <section class="content">
          <article>
            <div class="row">
              <div class="col-12">
                <h2>Contact us</h2>
                <p>If you wish to enter in contact with one of our members, please use the below email addresses:</p>
              </div>
              <div class="col-6 contact-card">
                <p class="vcard"><strong class="fn">Niels Holm-Nielsen</strong><br> Lead Disaster Risk Management Specialist and Coordinator,<br> Latin America and the Caribean<br><br> The World Bank<br> <a href="mailto:nholmnielsen@worldbank.org" class="email">nholmnielsen@worldbank.org</a></p>
              </div>
              <div class="col-6 contact-card">
                <p class="vcard"><strong class="fn">Vica Rosario Bogaerts</strong><br> Disaster Risk Management Specialist,<br> Global Facility for Disaster Reduction and Recovery<br><br> The World Bank<br> <a href="mailto:vbogaerts@worldbank.org" class="email">vbogaerts@worldbank.org</a></p>
              </div>
              <!-- <div class="col-4 contact-card">
                <p><strong>Jonh Sample</strong><br> Appointment<br> <a href="mailto:john.sample@gpss.org">john.sample@gpss.org</a></p>
              </div>
              <div class="col-4 contact-card">
                <p><strong>Jonh Sample</strong><br> Appointment<br> <a href="mailto:john.sample@gpss.org">john.sample@gpss.org</a></p>
              </div>
              <div class="col-4 contact-card">
                <p><strong>Jonh Sample</strong><br> Appointment<br> <a href="mailto:john.sample@gpss.org">john.sample@gpss.org</a></p>
              </div> -->
            </div>
          </article>
        </section>
      </div>
      <div class="bg-content">
        <div><!-- // --></div>
      </div>
    </div>
  </div>
{% endblock %}
