{% extends 'templates/content.twig' %}

{% block stylesheets %}
  {% if env == 'production' %}
    <link rel="stylesheet" href="/dist/styles/homepage.css">
  {% else %}
    <link rel="stylesheet" href="/app/vendor/normalize-css/normalize.css">
    <link rel="stylesheet" href="/app/lib/chachi-slider/chachi-slider.css">
    <link rel="stylesheet" href="/.tmp/styles/homepage.css">
  {% endif %}
{% endblock %}

{% block main %}
  <section id="homepage">

    <div id="spinner"></div>

    <div id="slider" class="chachi-slider">
      <img src="{{asset_url}}/images/homepage/slide-1.jpg" alt="Splash" data-caption="#slide1">
      <img src="{{asset_url}}/images/homepage/slide-2.jpg" alt="Splash" data-caption="#slide2">
      <img src="{{asset_url}}/images/homepage/slide-3.jpg" alt="Splash" data-caption="#slide3">
      <img src="{{asset_url}}/images/homepage/slide-4.jpg" alt="Splash" data-caption="#slide4">
      <img src="{{asset_url}}/images/homepage/slide-5.jpg" alt="Splash" data-caption="#slide5">
      <img src="{{asset_url}}/images/homepage/slide-6.jpg" alt="Splash" data-caption="#slide6">
    </div>

    <div id="slide1" class="chachi-html-caption">
      <div class="splash">
        <h1><span class="top">Monitoring Comprehensive</span><br> <span class="bottom">School Safety</span></h1>
        <p><span class="amount">4,348</span> <span class="label">safe schools</span><br> <span class="amount">34,595</span> <span class="label">unsafe schools</span> <br> <span class="amount">465,743</span> <span class="label">safety unknown</span></p>
        <div class="controls">
          <a href="#know-more" class="btn-secondary" id="knowmore">Know more</a>
          <a href="{{ path('map') }}" class="btn-primary">Go to the map</a>
        </div>
      </div>
    </div>

    <div id="slide2" class="chachi-html-caption">
      <h2>Each year, natural disasters around the world have a devastating effect on children’s education</h2>
      <p>The 2008 Wenchuan earthquake in China resulted in the collapse of 7,400 schools; the 2005 Kashmir earthquake in Pakistan resulted in the collapse of 7,000 schools; and the 2010 Port-au-Prince earthquake in Haiti destroyed 1,350 schools. In Madagascar, tropical cyclones damage an estimated 1,000 classrooms annually. Cyclone Sidr in Bangladesh damaged almost 6,000 schools in 2007, disrupting the education of more than 1.5 million students. In the Philippines, the 2009 typhoons Ondoy and Pepeng affected over 1 million school children and damaged a total of 3,417 schools.</p>
    </div>

    <div id="slide3" class="chachi-html-caption">
      <h2>There is mounting evidence that the direct impact of disasters can translate into a series of indirect long-term effects</h2>
      <p>For example, the use of school facilities to provide shelter to communities at imminent risk and disaster affected communities has helped save lives in many countries. However, the multipurpose use of schools also disrupts educational services and has a negative effect on the learning environment for children. As most school facilities are not designed for use as shelters, the occupation of large numbers of people often results in serious deterioration of school facilities. Subsequently, community resources that should be dedicated to textbooks and teacher salaries are frequently diverted for repairs and clean up activities. This, in turn, can affect the quality of education and erode public confidence in the education system.</p>
    </div>

    <div id="slide4" class="chachi-html-caption">
      <h2>Moreover, disasters can alter the incentives of parents to send their children to school</h2>
      <p>Affected households, when left with tighter budgets, tend to reduce their expenditure for education (that is, withdraw children from school). Following two earthquakes in El Salvador in 2001, school attendance fell by almost 7 percent among the most affected households. Moreover, children withdrawn from school after a disaster may join the work force. Children in the earthquake-affected households in El Salvador were three times more likely to work following the earthquakes. In Nicaragua, Hurricane Mitch resulted in a 45 percent increase in child labor participation among the affected households.</p>
    </div>

    <div id="slide5" class="chachi-html-caption">
      <h2>Disasters can also have a detrimental effect on educational performance and progress</h2>
      <p>Following Typhoon Mike in 1990, for example, the Cebu Metropolitan Area in the Philippines experienced a long-term increase in grade retention and poor educational performance. More recently, the 2011 floods and landslides in Rio de Janeiro resulted in lower grades and passing rates and higher dropout rates among primary and secondary school students.</p>
    </div>

    <div id="slide6" class="chachi-html-caption">
      <h2>For some time, multilateral and bilateral development finance institutions, United Nations agencies, and nongovernmental agencies (NGOs) have been engaged in efforts to make schools resilient to natural hazards</h2>
      <p>In order to raise public awareness and mobilize resources, UNISDR (the United Nations Office for Disaster Risk Reduction) launched two global campaigns, Disaster Risk Reduction Begins at School (2006) and the One Million Safe Schools and Hospitals Campaign (2010). In addition, key development actors developed and endorsed the Comprehensive School Safety Framework (2012) to guide and align efforts on the ground. The framework calls for global leadership and sets priorities in the areas of (1) safe learning facilities, (2) school disaster management, and (3) risk reduction and resilience education. With support of members of the Global Alliance for Disaster Risk Reduction and Resilience in the Education Sector, disaster-prone countries have since started to recognize the need to increase the resilience of school communities.</p>
      <a href="{{ path('map') }}" class="btn-thirth pull-right">Go to the map</a>
    </div>

  </section>
{% endblock %}

{% block javascripts %}
  {% if env == 'production' %}
    <script src="/dist/vendor/requirejs/require.js" data-main="/dist/scripts/homepage"></script>
  {% else %}
    <script src="/app/vendor/requirejs/require.js" data-main="/app/scripts/homepage/main"></script>
  {% endif %}
{% endblock %}
