{% extends 'templates/content.twig' %}

{% block main %}
<div class="container" id="resources">
  <div class="inner-container">

  <div class="main-content" id="resources-content">

    <div class="resources-navigation">
      <h1>Resources</h1>
      <ul class="nav-content">
        <li><a class="icon-res-general" href="#general"><span>General</span></a></li>
        <li><a class="icon-res-impact" href="#impact-of-disasters"><span>Impact of Disasters</span></a></li>
        <li><a class="icon-res-safe" href="#safe-learning-facilities"><span>Safe Learning Facilities</span></a></li>
        <li><a class="icon-res-school" href="#school-disaster-management"><span>School Disaster Management</span></a></li>
        <li><a class="icon-res-risk" href="#risk-reduction-resilience"><span>Risk Reduction and Resilience</span></a></li>
      </ul>
    </div>

    <div id="general" class="content">
      <header class="dark-bg">
        <h1>General</h1>

        <ul class="resources-table">
          
            <li>
              <div class="item-content">
                <div class="item-title">Making the Economic Case for Safe Schools</div>
                <div class="item-author">Plan International - 2014</div>
              </div>
              <div class="item-download"><a href="./assets/resources/the_economic_case_safe_schools.pdf" title="Download Making the Economic Case for Safe Schools" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Advancing School Safety in Asia</div>
                <div class="item-author">World Vision - 2014</div>
              </div>
              <div class="item-download"><a href="./assets/resources/advancing_school_safety_in_asia.pdf" title="Download Advancing School Safety in Asia" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Sendai Knowledge Note: The Education Sector</div>
                <div class="item-author">World Bank - 2012</div>
              </div>
              <div class="item-download"><a href="./assets/resources/sendai_knowledge_note_the_education_sector.pdf" title="Download Sendai Knowledge Note: The Education Sector" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">School Safety Baseline Study</div>
                <div class="item-author">UNISDR - 2011</div>
              </div>
              <div class="item-download"><a href="./assets/resources/school_baseline_study.pdf" title="Download School Safety Baseline Study" target="_blank">Download</a></div>
            </li>
          
        </ul>

      </header>
    </div>

    <div id="impact-of-disasters" class="content">
      <header class="light-bg">
        <h1>Impact of Disasters</h1>

        <ul class="resources-table">
          
            <li>
              <div class="item-content">
                <div class="item-title">The Effects of Natural Disasters on Human Capital Accumalation</div>
                <div class="item-author">Thomas K.J. McDermott - 2012</div>
              </div>
              <div class="item-download"><a href="./assets/resources/the_effects_of_natural_disasters_human_capital_accumulation.pdf" title="Download The Effects of Natural Disasters on Human Capital Accumalation" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">The Long-term Effects of National Disasters: Health and Education in Guatemala after the 1976 Earthquake</div>
                <div class="item-author">Priscila Hermida - 2010</div>
              </div>
              <div class="item-download"><a href="./assets/resources/the_long_term_effect_natural_disasters.pdf" title="Download The Long-term Effects of National Disasters: Health and Education in Guatemala after the 1976 Earthquake" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Do Natural Disasters Affect Human Capital? An Assessment Based on Existing Empirical Evidence</div>
                <div class="item-author">Javier Baez, Alejandro de la Fuente, and Indhira Santos - 2010</div>
              </div>
              <div class="item-download"><a href="./assets/resources/do_natural_disasters_affect_human_capital.pdf" title="Download Do Natural Disasters Affect Human Capital? An Assessment Based on Existing Empirical Evidence" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">National Disasters and Human Capital Accumulation</div>
                <div class="item-author">Jesus Crespo Cuaresma - 2009</div>
              </div>
              <div class="item-download"><a href="./assets/resources/natural_disasters_and_human_capital_accumulation.pdf" title="Download National Disasters and Human Capital Accumulation" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Credit, Natural Disasters, Coffee, and Educational Attainment in Rural Honduras</div>
                <div class="item-author">Seth R. Gitter and Bradford L. Barham - 2006</div>
              </div>
              <div class="item-download"><a href="./assets/resources/credit_natural_disasters_coffee_educational_attainment_rural_honduras.pdf" title="Download Credit, Natural Disasters, Coffee, and Educational Attainment in Rural Honduras" target="_blank">Download</a></div>
            </li>
          
        </ul>

      </header>
    </div>

    <div id="safe-learning-facilities" class="content">
      <header class="dark-bg">
        <h1>Safe Learning Facilities</h1>

        <ul class="resources-table">
          
            <li>
              <div class="item-content">
                <div class="item-title">VISUS Methodology: A Quick Assessment for Defining Safety Upgrading Strategies of School Facilities</div>
                <div class="item-author">Stefano Grimaz, Petra Malisan, and Jair Torres - 2015</div>
              </div>
              <div class="item-download"><a href="./assets/resources/visus_methodology_defining_safety_upgrading_strategies.pdf" title="Download VISUS Methodology: A Quick Assessment for Defining Safety Upgrading Strategies of School Facilities" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">A Practical Guideline to Making Schools Safer to Natural Disasters</div>
                <div class="item-author">World Bank - 2014</div>
              </div>
              <div class="item-download"><a href="./assets/resources/a_practical_guideline_to_making_schools_safer_to_natural_disasters.pdf" title="Download A Practical Guideline to Making Schools Safer to Natural Disasters" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Resilience-based Earthquake Design Initiative for the Next Generation of Buildings</div>
                <div class="item-author">Arup - 2013</div>
              </div>
              <div class="item-download"><a href="./assets/resources/resilience_based_earthquake_design_initiative_next_generation.pdf" title="Download Resilience-based Earthquake Design Initiative for the Next Generation of Buildings" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Why Schools are Vulnerable to Disasters</div>
                <div class="item-author">GeoHazard International - 2012</div>
              </div>
              <div class="item-download"><a href="./assets/resources/why_schools_are_vulnerable_to_disasters.pdf" title="Download Why Schools are Vulnerable to Disasters" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Rapid Structural and Non-Structural Assessment of School and Hospital Buildings in SAARC Countries</div>
                <div class="item-author">SAARC Disaster Management Centre - 2011</div>
              </div>
              <div class="item-download"><a href="./assets/resources/rapid_structural_and_non_structural_assessment_of_school.pdf" title="Download Rapid Structural and Non-Structural Assessment of School and Hospital Buildings in SAARC Countries" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Report on Retrofitting Schools in the Islamic Republic of Iran</div>
                <div class="item-author">Iran Ministry of Education - 2011</div>
              </div>
              <div class="item-download"><a href="./assets/resources/report_on_retrofitting_schools_in_the_islamic_republic_of_iran.pdf" title="Download Report on Retrofitting Schools in the Islamic Republic of Iran" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Design Guide for Improving School Safety in Earthquakes, Floods, and High Winds</div>
                <div class="item-author">FEMA - 2010</div>
              </div>
              <div class="item-download"><a href="./assets/resources/design_guide_for_improving_school_safety_in_earthquakes.pdf" title="Download Design Guide for Improving School Safety in Earthquakes, Floods, and High Winds" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Guidance Note on Safer School Construction</div>
                <div class="item-author">GFDRR - 2009</div>
              </div>
              <div class="item-download"><a href="./assets/resources/guidance_note_on_safer_school_construction.pdf" title="Download Guidance Note on Safer School Construction" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Rebuilding Schools after the Wechuan Earthquake</div>
                <div class="item-author">OECD - 2009</div>
              </div>
              <div class="item-download"><a href="./assets/resources/rebuilding_schools_after_the_wenchuan_earthquake.pdf" title="Download Rebuilding Schools after the Wechuan Earthquake" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">School Construction Strategies for Universal Primary Education in Africa</div>
                <div class="item-author">World Bank - 2009</div>
              </div>
              <div class="item-download"><a href="./assets/resources/school_construction_strategies_in_africa.pdf" title="Download School Construction Strategies for Universal Primary Education in Africa" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">A Guide to School Vulnerability Assessments</div>
                <div class="item-author">US Department of Education - 2008</div>
              </div>
              <div class="item-download"><a href="./assets/resources/a_guide_to_school_vulnerability_assessments.pdf" title="Download A Guide to School Vulnerability Assessments" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Guideline for Promoting the Seismic Retrofitting of School Facilities</div>
                <div class="item-author">Japan Ministry of Education, Culture, Sports, Science and Technology - 2006</div>
              </div>
              <div class="item-download"><a href="./assets/resources/guideline_for_promoting_the_seismic_retrofitting_of_school_facilities.pdf" title="Download Guideline for Promoting the Seismic Retrofitting of School Facilities" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Earthquake Vulnerability Reduction Program in Colombia: A Probabilistic Cost-Benefit Analysis</div>
                <div class="item-author">Francis Ghesquiere, Luis Jamin, and Oliver Mahul - 2006</div>
              </div>
              <div class="item-download"><a href="./assets/resources/earthquake_vulnerability_reduction_program_in_colombia.pdf" title="Download Earthquake Vulnerability Reduction Program in Colombia: A Probabilistic Cost-Benefit Analysis" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Case Studies of Seismic Nonstructural Retrofitting in School Building</div>
                <div class="item-author">Japan Educational Facilities Research Center - 2005</div>
              </div>
              <div class="item-download"><a href="./assets/resources/case_studies_of_nonstructural_retrofitting.pdf" title="Download Case Studies of Seismic Nonstructural Retrofitting in School Building" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Evaluation Retrofitting Options for School Buildings: A Cost-Benefit Analysis</div>
                <div class="item-author">OECD - 2004</div>
              </div>
              <div class="item-download"><a href="./assets/resources/evaluation_retrofitting_options_for_school_buildings.pdf" title="Download Evaluation Retrofitting Options for School Buildings: A Cost-Benefit Analysis" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Educational Facilities and Risk Management</div>
                <div class="item-author">OECD - 2004</div>
              </div>
              <div class="item-download"><a href="./assets/resources/educational_facilities_and_risk_management.pdf" title="Download Educational Facilities and Risk Management" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Learning about Seismic Safety of Schools from Community Experience in California</div>
                <div class="item-author">OECD - 2004</div>
              </div>
              <div class="item-download"><a href="./assets/resources/learning_about_seismic_safety_of_schools_from_community_exp_in_california.pdf" title="Download Learning about Seismic Safety of Schools from Community Experience in California" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Incremental Seismic Rehabilitation of School Buildings (K-12): Providing Protection to People and Buildings</div>
                <div class="item-author">FEMA - 2003</div>
              </div>
              <div class="item-download"><a href="./assets/resources/incremental_seismic_rehabilitation_of_school_buildings.pdf" title="Download Incremental Seismic Rehabilitation of School Buildings (K-12): Providing Protection to People and Buildings" target="_blank">Download</a></div>
            </li>
          
        </ul>

      </header>
    </div>

    <div id="school-disaster-management" class="content">
      <header class="light-bg">
        <h1>School Disaster Management</h1>

        <ul class="resources-table">
          
            <li>
              <div class="item-content">
                <div class="item-title">Disaster Risk Reduction in Education in Emergencies: A Guidance Note For Education Clusters and Sector Coordination Groups</div>
                <div class="item-author">UNICEF, Save the Children, and Plan International </div>
              </div>
              <div class="item-download"><a href="./assets/resources/disaster_risk_reduction_in_education_in_emergencies.pdf" title="Download Disaster Risk Reduction in Education in Emergencies: A Guidance Note For Education Clusters and Sector Coordination Groups" target="_blank">Download</a></div>
            </li>
          
        </ul>

      </header>
    </div>

    <div id="risk-reduction-resilience" class="content">
      <header class="dark-bg">
        <h1>Risk Reduction and Resilience</h1> 

        <ul class="resources-table">
          
            <li>
              <div class="item-content">
                <div class="item-title">Toward a Learning Culture of Safety and Resilience: Technical Guidance for Integrating Disaster Risk Reduction in the School Curriculum</div>
                <div class="item-author">UNICEF and UNESCO - 2014</div>
              </div>
              <div class="item-download"><a href="./assets/resources/toward_a_learning_culture_of_safety_and_resilience.pdf" title="Download Toward a Learning Culture of Safety and Resilience: Technical Guidance for Integrating Disaster Risk Reduction in the School Curriculum" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">DRR in education: knowledge and learning resources - building resilience with and for children</div>
                <div class="item-author">UNICEF - 2013</div>
              </div>
              <div class="item-download"><a href="./assets/resources/ddr_in_education_knowledge_and_learning_resources.pdf" title="Download DRR in education: knowledge and learning resources - building resilience with and for children" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Disaster Risk Reduction in School Curricula: Case Studies from Thirty Countries</div>
                <div class="item-author">UNICEF and UNESCO - 2012</div>
              </div>
              <div class="item-download"><a href="./assets/resources/disaster_risk_reduction_in_school_curricula.pdf" title="Download Disaster Risk Reduction in School Curricula: Case Studies from Thirty Countries" target="_blank">Download</a></div>
            </li>
          
            <li>
              <div class="item-content">
                <div class="item-title">Teaching Disaster Risk Management in Sri Lanka's Schools: Experience since the 2004 Tsunami</div>
                <div class="item-author">GTZ - 2008</div>
              </div>
              <div class="item-download"><a href="./assets/resources/teaching_disaster_risk_management_in_sri_lanka.pdf" title="Download Teaching Disaster Risk Management in Sri Lanka's Schools: Experience since the 2004 Tsunami" target="_blank">Download</a></div>
            </li>
          
        </ul>

      </header>
    </div>
  </div>

    <div class="bg-content">
      <div><!-- // --></div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascripts %}
  {% if env == 'production' %}
    <script src="/dist/vendor/requirejs/require.js" data-main="dist/scripts/resources"></script>
  {% else %}
    <script src="/app/vendor/requirejs/require.js" data-main="/app/scripts/resources/main"></script>
  {% endif %}
{% endblock %}
