<div class="row country-peru-content">
  <div class="col-12">
    <header>
      <div class="dashboard-info" id="info">

      </div>
    </header>
  </div>

  <div class="col-12">
    <div class="tabs">
      
      <h2>Peru</h2>

      <ul>
        <li><a href="#school-info">Country overview</a></li>
        <li><a href="#projects-country">Projects</a></li>
      </ul>

      <div id="school-info">
      	<ul class="collapsible-menu">
      		<li {{#if_eq section "overview"}}class="opened"{{/if_eq}}>
      			<div class="collapsible-menu-text">Overview of Peru schools</div>
      			<div class="collapsible-menu-content">
              <ul class="country-peru-menu">
                <li {{#if_eq page "national-schools"}}class="selected"{{/if_eq}}><a class="icon-layers" href="#country/PER/overview/national-schools">National Portfolio</a></li>
                <li {{#if_eq page "lima-schools"}}class="selected"{{/if_eq}}><a class="icon-layers" href="#country/PER/overview/lima-schools">Portfolio of the Metropolitan Area of Lima</a></li>
                <li {{#if_eq page "additional"}}class="selected"{{/if_eq}}><a class="icon-graphbar" href="#country/PER/overview/additional">Background on schools</a></li>
                <li {{#if_eq page "functional"}}class="selected"{{/if_eq}}><a class="icon-graphbar" href="#country/PER/overview/functional">Functional indicators</a></li>
              </ul>
            </div>
      		</li>
      		<li {{#if_eq section "riskconditions"}}class="opened"{{/if_eq}}>
      			<div class="collapsible-menu-text">Risk conditions</div>
      			<div class="collapsible-menu-content">
              <div class="collapsible-menu-content">
                <ul class="country-peru-menu">
                  <li {{#if_eq page "schools-exposed"}}class="selected"{{/if_eq}}><a class="icon-layers" href="#country/PER/riskconditions/schools-exposed">Spatial exposure to seismic hazard</a>
                    <div class="layer-selector schools-exposed-selector">
                      <div class="layer-selector-content">
                        <span>Return period (years):</span>
                        <ul>
                          <li class="selected" data-exposed-level="500">500</li>
                          <li data-exposed-level="1000">1000</li>
                          <li data-exposed-level="1500">1500</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li {{#if_eq page "structural"}}class="selected"{{/if_eq}}><a class="icon-graphbar" href="#country/PER/riskconditions/structural">Structural typologies</a></li>
                  <li {{#if_eq page "historical"}}class="selected"{{/if_eq}}><a class="icon-image" href="#country/PER/riskconditions/historical">Historical damages</a></li>
                  <li {{#if_eq page "seismic-rehabilitation"}}class="selected"{{/if_eq}}><a class="icon-layers" href="#country/PER/riskconditions/seismic-rehabilitation">Seismic Vulnerability of schools in the Metropolitan Area of Lima</a>
                    <div class="layer-selector seismic-group-selector">
                      <div class="layer-selector-content">
                        <ul>
                          <li class="selected seismic-selector" data-group-level="groupa">Group A <div class="tooltip"><div class="skinnytip" data-text="Buildings with good structural performance" data-options="width: 160px,backColor: #fff,border: 0,textColor: #333,yOffset:-15,xOffset: 20,fontSize: 13px, fontFace: Dinot,textPadding: 8px"></div></div></li>
                          <li class="seismic-selector" data-group-level="groupb">Group B <div class="tooltip"><div class="skinnytip" data-text="Buildings with high probability of structural damage" data-options="width: 160px,backColor: #fff,border: 0,textColor: #333,yOffset:-15,xOffset: 20,fontSize: 13px, fontFace: Dinot, textPadding: 8px"></div></div></li>
                          <li class="seismic-selector" data-group-level="groupc">Group C <div class="tooltip"><div class="skinnytip" data-text="Buildings with high probability of collapse" data-options="width: 160px,backColor: #fff,border: 0,textColor: #333,yOffset:-15,xOffset: 20,fontSize: 13px, fontFace: Dinot, textPadding: 8px"></div></div></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li {{#if_eq page "annual-average"}}class="selected"{{/if_eq}}><a class="icon-layers" href="#country/PER/riskconditions/annual-average">Annual average loss for the portfolio of the Metropolitan Area of Lima</a></li>
                </ul>
              </div>
            </div>
      		</li>
      		<li {{#if_eq section "riskreduction"}}class="opened"{{/if_eq}}>
      			<div class="collapsible-menu-text">Risk reduction measures</div>
      			<div class="collapsible-menu-content">
              <div class="collapsible-menu-content">
                <ul class="country-peru-menu">
                  <li {{#if_eq page "structural-indicators-national"}}class="selected"{{/if_eq}}><a class="icon-layers" href="#country/PER/riskreduction/structural-indicators-national">Structural interventions - National level</a></li>
                  <li {{#if_eq page "structural-indicators-regional"}}class="selected"{{/if_eq}}><a class="icon-graphbar" href="#country/PER/riskreduction/structural-indicators-regional">Structural interventions - Regional level</a></li>
                  <li {{#if_eq page "risk-interventions"}}class="selected"{{/if_eq}}><a class="icon-graphbar" href="#country/PER/riskreduction/risk-interventions">Risk reduction by number of interventions in the Metropolitan Area of Lima</a></li>
                  <li {{#if_eq page "seismic-examples"}}class="selected"{{/if_eq}}><a class="icon-image" href="#country/PER/riskreduction/seismic-examples">Examples of seismic retrofitting techniques</a></li>
                </ul>
              </div>
            </div>
      		</li>

      	</ul>

        <div class="dashboard-article">
          {{#if country.description}}
            <div class="row">
              <div class="col-12">
                <h3>About the country</h3>
                {{{country.description}}}
              </div>
            </div>
          {{/if}}
          <div class="row-padded">
            <div class="col-12">
              <div class="char">
                <h3>Public spending on education, total (% of government expenditure)</h3>
                <iframe id="widgets-0" scrolling="no" frameborder="0" width="100%" height="230" src="http://data.worldbank.org/widgets/indicator/0/web_widgets_3/SE.XPD.TOTL.GB.ZS/countries/{{{country.code}}}-1W"></iframe>
              </div>
            </div>
            <div class="col-12">
              <div class="char">
                <h3>School enrollment, primary (% net)</h3>
                <iframe id="widgets-0" scrolling="no" frameborder="0" width="100%" height="230" src="http://data.worldbank.org/widgets/indicator/0/web_widgets_3/SE.PRM.NENR/countries/{{{country.code}}}-1W"></iframe>
              </div>
            </div>
            <div class="col-12">
              <div class="char">
                <h3>School enrollment, secondary (% net)</h3>
                <iframe id="widgets-0" scrolling="no" frameborder="0" width="100%" height="230" src="http://data.worldbank.org/widgets/indicator/0/web_widgets_3/SE.SEC.NENR/countries/{{{country.code}}}-1W"></iframe>
              </div>
            </div>
            <div class="col-12">
              <div class="char">
                <h3>Population ages 0-14 (% of total)</h3>
                <iframe class="char" id="widgets-0" scrolling="no" frameborder="0" width="100%" height="230" src="http://data.worldbank.org/widgets/indicator/0/web_widgets_3/SP.POP.0014.TO.ZS/countries/{{{country.code}}}-1W"></iframe>
              </div>
            </div>
          </div>

          {{!-- <div class="row">
            <div class="col-12">
              <div class="legend">
                <div class="legend-item">
                  <span class="first"></span> {{country.name}}
                </div>
                <div class="legend-item">
                  <span class="thirth"></span> Upper Middle Income
                </div>
              </div>
            </div>--}}
          </div>
        </div>
      </div>

      <div id="projects-country">
        <div class="col-12">
          <h2>Ongoing projects</h2>
          <div class="dashboard-list" id="country-schools">
            <ul>
              {{#each projects}}
                <li>
                  <a href="#project/{{id}}">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
