@import "compass/css3";
@import "vars";
@import "assets/sprites/*.png";

@include font-face-generator($fontName, $fontFileLight, 300, normal);

@include font-face-generator($fontName, $fontFileRegular, normal, normal);

@include font-face-generator($fontName, $fontFileMedium, 500, normal);

@include font-face-generator($fontName, $fontFileBold, bold, normal);

@include all-sprites-sprites;

// HTML
body {
  color: $textColor1;
  font: 13px / 1.2 $fontName, Arial, Helvetica, sans-serif;
}

h1, h2 {
  color: $textColor6;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 17px;
  font-weight: 500;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}

a, button {
  &:focus {
    outline: none;
  }
}

// Structure
.row, .row-padded, .form-row, .clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  float: left;
  position: relative;
}

.row {
  .col-12 {
    width: 100%;
  }

  .col-11 {
    width: 91.667%;
  }

  .col-10 {
    width: 83.333%;
  }

  .col-9 {
    width: 75%;
  }

  .col-8 {
    width: 66.667%;
  }

  .col-7 {
    width: 58.333%;
  }

  .col-6 {
    width: 50%;
  }

  .col-5 {
    width: 41.667%;
  }

  .col-4 {
    width: 33.333%;
  }

  .col-3 {
    width: 25%;
  }

  .col-2 {
    width: 16.667%;
  }

  .col-1 {
    width: 8.333%;
  }
}

.row-padded {
  .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    margin: 0 2%;
  }
  .col-6 {
    width: 46%;
  }
  .col-4 {
    width: 29.333%;
  }
}


// Header
.main-header {
  background: $bgColor1;
  height: 88px;
  min-width: 840px;
  position: absolute;
  width: 100%;
}

.branding {
  width: 492px;
}

.navigation {
  left: 492px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.brand {
  margin: 16px 20px;
  h1 {
    margin: 0;
    a {
      color: $linkColor3;
      text-decoration: none;
    }
    img {
      display: block;
    }
  }
}

// Navigation
.main-nav, .user-nav {
  li {
    display: block;
    float: left;
    width: 116px;
  }
  a {
    background-color: $bgColor2;
    color: $linkColor2;
    display: block;
    font-weight: 300;
    line-height: 14px;
    margin-right: 1px;
    padding: 37px 0;
    text-align: center;
    text-transform: uppercase;
    @include transition(background-color 0.3s ease);
    &:hover, &.current {
      color: $linkColor3;
      background-color: $bgColor1;
    }
    .icon {
      display: inline-block;
      height: 11px;
      width: 12px;
    }
    &.map:hover, &.map.current {
      background-color: $sectionColor1;
    }
    &.about:hover, &.about.current {
      background-color: $sectionColor2;
    }
    &.resources:hover, &.resources.current {
      background-color: $sectionColor3;
    }
    &.contact:hover, &.contact.current {
      background-color: $sectionColor4;
    }
    &.search {
      .icon {
        @include sprites-sprite(icon-menu-search);
      }
      &:hover, &.current {
        background-color: $sectionColor5;
        .icon {
          @include sprites-sprite(icon-menu-search-hover);
        }
      }
    }
    &.login {
      .icon {
        @include sprites-sprite(icon-login);
      }
      &:hover, &.current {
        background-color: #484848;
        .icon {
          @include sprites-sprite(icon-login-hover);
        }
      }
    }
  }
}

.main-nav {
  margin-left: -115px;
}

.user-nav {
  float: right;
  a {
    background-color: $bgColor5;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 957px) {

  .row .branding {
    width: 375px;

    .logo {
      width: 226px;
      margin-top: 25px;
    }    
  }
  .row .navigation {
    left: 375px;
  }
}

@media screen and (min-width: 958px) and (max-width: 1249px) {
  .row .branding {
    .logo {
      width: 226px;
      margin-top: 25px;
    }   
  }
}

@media screen and (min-width: 1250px) and (max-width: 1340px) {
  .row .branding {
    .logo {
      width: 270px;
      margin-top: 20px;
    }   
  }
}