// Backgrounds
$bgColor1: #333; // header bg
$bgColor2: #484848; // menu bg
$bgColor3: #3f98ca; // menu bg
$bgColor4: #9acfe7; // timeline bg
$bgColor5: #666; // login bg
$bgColor6: #e8e8e8; // dashboard vis bg
$bgColor7: #f3f3f3; // bg list link - default
$bgColor8: #ccc; // bg list link - hover
$bgColor9: #fff; // bg list link - hover
$bgColor10: #85b200; // green
$bgColor11: #e3e3e3;// bg article
$bgColor12: #c9c9c9; // bg nav item dashboard
$bgColor13: #d8d8d8; // bg nav dashboard
$bgColor14: #fbfbfb; // bg dashboard-list item

// Text
$textColor1: #333; // main text
$textColor2: #85b200; // first vis
$textColor3: #3f98ca; // first vis
$textColor4: #9d9d9d; // thirt vis
$textColor5: #fff;
$textColor6: #525252;

// Links
$linkColor1: #3f98ca; // main link
$linkColor2: #adadad; // menu link
$linkColor3: #fff; // hover menu link
$linkColor4: #333; // black link
$linkColor5: #484848; // Dark gray
$linkColor6: #85B22B; // Green

// Borders
$borderColor1: #d6d6d6;
$borderColor2: #3f98ca;

// Font-face
$fontName: "Dinot";
$fontFileLight: "dinot/DINOT-Light";
$fontFileRegular: "dinot/DINOT-Regular";
$fontFileMedium: "dinot/DINOT-Medium";
$fontFileBold: "dinot/DINOT-Bold";

// Sections
$sectionColor1: #3f98ca;
$sectionColor2: #006C67;
$sectionColor3: #85b200;
$sectionColor4: #00b195;
$sectionColor5: #377aa5;

$primary: #729644;


// Extra Mixins
@mixin font-face-generator($name, $file, $weight, $style) {
    @include font-face($name, font-files($file + ".woff", $file + ".svg"), $file + ".eot", $weight, $style);
}

