@import "main";
@import "common/popup";
@import "common/collapsible-menu";
@import "countries/countries";

$unsafe: #bf4651;

h3 {
  color: $textColor2;
}

.navigation {
  left: 33.3333%;
}

// JQuery UI
.ui-tabs {
  padding: 0;
  .ui-tabs-nav {
    border-bottom: 1px solid $borderColor1;
    border-top: 1px solid $borderColor1;
    padding: 0;
    li {
      margin: 0;
      width: 50%;
      a, a:active {
        color: $textColor1;
      }
      a {
        border-bottom: 5px solid transparent;
        display: block;
        float: none;
        padding: 15px 0 10px 0;
        text-align: center;
        text-transform: uppercase;
      }
      &.ui-tabs-active {
        margin-bottom: 0;
        padding-bottom: 0;
        a {
          border-color: $borderColor2;
        }
      }
    }
  }
  .ui-tabs-panel {
    padding: 0;
  }
  .dashboard-list {
    border-top: 0;
  }
}

// Application
.application {
  bottom: 0;
  min-width: 841px;
  overflow: hidden;
  position: absolute;
  top: 88px;
  width: 100%;
}

.region-map, .region-dashboard {
  position: absolute;
  height: 100%;
  top: 0;
  overflow: hidden;
}

// Application: Map
.region-map {
  right: 0;
}

.map-visualization {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


// Leaflet customization
.leaflet-container .leaflet-control-zoom {
  border: 0;
  margin-right: 25px;
  margin-top: 25px;
  overflow: hidden;
  @include border-radius(5px);
  @include box-shadow(none);
  a {
    background: $bgColor1;
    border-bottom: 0;
    color: $textColor4;
    font: normal 21px / 17px $fontName, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid $textColor4;
    @include border-radius(0);
    &:hover {
      background: $bgColor8;
      color: $textColor1;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.leaflet-bottom {
  width: 416px;
  height: auto;
  bottom: 30px;
  z-index: 10;
}

.legend-box {
  &.visible {
    width: 100%;
  }

  .cartodb-legend {
    right: auto;
    &.custom {
      border: 0;
      left: 26px;
      cursor: default;
      ul {
        li {
          text-transform: capitalize;
          color: #333333;
          font-family: $fontName;
          font-size: 12px;
          font-weight: 400;
          height: auto;
          line-height: 14px;
          max-width: 200px;

          .bullet {
            float: none;
            display: inline-block;
          }
        }
      }
    }
  }
}

// Infowindow
.infowindow {
  margin-left: -130px;
  position: relative;
}
.btn-close-infowindow {
  border: 0;
  display: inline-block;
  height: 14px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 13px;
  z-index: 100;
  @include sprites-sprite(icon-close);
}
.infowindow-content {
  display: block;
  font-family: $fontName, Arial, Helvetica, sans-serif;
  height: 180px;
  padding: 0 15px 81px 15px;
  position: relative;
  width: 157px;
  @include sprites-sprite(infowindow);
  h2 {
    font-size: 19px;
    margin: .5em 0;
    line-height: 1;
    max-width: 80%;
  }
  h4 {
    font-size: 14px;
    margin: 0;
    margin-top: 8px;
    line-height: 1;
    max-width: 90%;
  }
  p {
    margin: .3em 0;

    &.info {
      font-size: 13px;
      font-weight: 400;

      &.infosmall {
        font-size: 12px;
      }
    }
  }
  a {
    text-decoration: none;
  }
  .status {
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
  }
  .safe {
    color: #85b200;
  }
  .unsafe {
    color: #bf4651;
  }
  .unknown {
    color: #9d9d9d;
  }
  .btn-more-info {
    bottom: 55px;
    display: block;
    font-weight: 500;
    font-size: 17px;
    position: absolute;
    right: 10px;
    text-align: right;
    text-transform: uppercase;
    .icon {
      display: inline-block;
      height: 21px;
      vertical-align: -4px;
      width: 8px;
      @include sprites-sprite(icon-more-info);
    }
  }
}


// Markers
.circle-marker-areas, .circle-marker-countries {
  &.hover, &:hover {
    .circle-marker-data {
      @include box-shadow(0 0 10px 5px rgba(0, 0, 0, .35));
    }
  }
}

.circle-marker-areas {
  font-size: 18px;
}

.circle-marker-countries {
  font-size: 15px;
}

.circle-marker-arc, .circle-marker-data {
  background: $bgColor9;
  @include border-radius(100%);
}

.circle-marker-arc {
  display: block;
  position: absolute;
}

.circle-marker-label {
  color: #666;
  pointer-events: none;
  font-size: 12px;
  margin-left: -60px;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
  top: 102%;
  width: 120px;
}

.circle-marker-data {
  display: none;
  position: absolute;
  z-index: -1;
}

.circle-marker-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  &.official {
    color: $textColor2;
  }
  &.community {
    color: $textColor4;
  }
}

// Map: Spinner
.map-spinner {
  background: rgba(72, 72, 72, 0.6);
  bottom: 25px;
  color: $textColor5;
  height: 30px;
  left: 25px;
  position: absolute;
  z-index: 1000;
  @include border-radius(4px);
  .spinner-label {
    line-height: 30px;
    padding: 0 10px 0 30px;
  }
  .spinner-spin {
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 1001;
  }
}

// Map: Breadcrumbs and Hazard
.map-breadcrumbs {
  background: rgba(72, 72, 72, 0.6);
  left: 25px;
  padding: 0 1%;
  position: absolute;
  top: 25px;
  z-index: 10;
  @include border-radius(4px);
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a, .current {
      color: $linkColor3;
      cursor: pointer;
      display: block;
      padding: 10px;
      line-height: 14px;
      text-decoration: none;
      .icon {
        display: inline-block;
        height: 6px;
        margin-bottom: 2px;
        margin-left: 3px;
        width: 8px;
        @include sprites-sprite(icon-parent-menu);
      }
    }
    li {
      display: block;
      float: left;
      margin: 0;
      position: relative;
      text-transform: uppercase;
      &:hover .child {
        display: block;
      }
    }
    ul {
      a {
        color: $textColor1;
        padding: 6px 10px;
        text-align: center;
        &:hover {
          background-color: $bgColor4;
          color: $linkColor3;
        }
      }
      li {
        float: none;
      }
    }
    .child {
      background: $bgColor9;
      border: 1px solid $borderColor1;
      display: none;
      left: 50%;
      margin-left: -85px;
      max-height: 320px;
      overflow: auto;
      padding: 10px 0;
      position: absolute;
      top: 34px;
      width: 170px;
      z-index: 100;
      .jspVerticalBar {
        width: 7px;
      }
      .jspHorizontalBar {
        height: 7px;
      }
    }
  }
  .separator {
    border-right: 1px solid $borderColor1;
    height: 25px;
    margin-top: 4px;
    width: 0;
  }
}

.map-down-toolbar {
  bottom: 25px;
  position: absolute;
  right: 25px;
  z-index: 10;
  .item-down-toolbar {
    float: right;
    margin-right: 10px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: block;
      color: $textColor1;
      line-height: 14px;
      text-decoration: none;
    }
    li {
      text-transform: uppercase;
      padding-top: 15px;
      position: relative;
      &:hover ul {
        display: block;
      }
    }
    ul {
      background: $bgColor9;
      border: 1px solid $borderColor1;
      bottom: 42px;
      display: none;
      position: absolute;
      right: 0;
      width: 230px;
      @include border-radius(6px 6px 0 0);
      @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
      li {
        padding-top: 0;
        text-align: center;
      }
      a {
        padding: 6px 10px;
        &:hover {
          background-color: $bgColor4;
          color: $linkColor3;
        }
      }
      &:after, &:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      &:after {
        border-color: transparent;
        border-top-color: white;
        border-width: 10px;
        margin-left: -10px;
      }
      &:before {
        border-color: transparent;
        border-top-color: $borderColor1;
        border-width: 11px;
        margin-left: -11px;
      }
    }
  }
  .select {
    background: $bgColor9;
    border: 1px solid $borderColor1;
    cursor: pointer;
    display: block;
    line-height: 14px;
    text-align: center;
    width: 200px;
    position: relative;
    padding: 7px 15px;
    @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    @include border-radius(6px);
    .label {
      display: block;
    }
    .icon-helper {
      float: left;
    }
    .icon {
      display: block;
      height: 7px;
      right: 10px;
      position: absolute;
      top: 10px;
      width: 10px;
      @include sprites-sprite(icon-arrow-top);
    }
  }
}

// Application: Dashboard
.region-dashboard {
  left: 0;
  z-index: 1;
  @include box-shadow(0 0 5px rgba(0, 0, 0, .2));
}

.dashboard-spin {
  left: 50%;
  position: absolute;
  top: 100px;
  z-index: 1000;
}

.dashboard-content {
  bottom: 52px;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  h2 {
    background: $bgColor6;
    margin: 0;
    padding: 15px 4%;
  }
  p {
    a, a:link, a:active {
      color: $textColor2;
    }
  }
}

.dashboard-info {
  table {
    width: 100%;
  }
  td {
    font-size: 17px;
    line-height: 1;
    width: 25.33%;
    padding: 20px 4%;
    text-transform: uppercase;
    vertical-align: top;
  }
  .counter {
    text-align: left;
    border-right: 1px solid $borderColor1;
    &:last-child {
      border-right: 0;
    }
  }
  .first, .second, .thirth {
    display: block;
    font-weight: bold;
    line-height: .8;
    letter-spacing: -.07em;
    margin-bottom: 5px;
  }
  .first {
    color: $textColor2;
    font-size: 55px;
  }
  .second {
    color: $unsafe;
    font-size: 35px;
    margin-top: 20px;
  }
  .thirth {
    color: $textColor4;
    font-size: 23px;
    margin-top: 32px;
  }
}

// Timeline
.dashboard-visualization {
  background: $bgColor6;
  border-top: 1px solid $borderColor1;
}

.dashboard-graph {
  height: 145px;
  overflow: hidden;
  .temp-image {
    width: 100%;
    height: 147px;
  }
}

.dashboard-timeline {
  background: white;
  padding: 10px;
  .ages {
    table {
      width: 100%;
    }
    td {
      color: $borderColor1;
      font-style: bold;
      text-align: center;
    }
    .mark {
      background: $borderColor1;
      display: block;
      margin: 15px auto 0 auto;
      width: 1px;
      height: 5px;
    }
    .value {
      &.active {
        color: $textColor2;
      }
    }
  }
  .time-range.ui-slider {
    background: #e0e0e0;
    bottom: 0;
    height: 1px;
    margin: -4px auto 10px auto;
    position: relative;
    width: 90%;
    z-index: 1;
    .ui-slider-handle {
      background: $borderColor1;
      border: 1px solid #ccc;
      cursor: pointer;
      margin-left: -4px;
      width: 8px;
      height: 20px;
      top: -11px;
      @include border-radius(2px);
      &:hover, &.ui-state-active {
        background-color: #c2d87f;
        border-color: $textColor2;
      }
    }
  }
}

.dashboard-nav {
  background: $bgColor13;
  height: 30px;

  &.hidden {
    display: none;
  }
  a {
    background: $bgColor12;
    display: block;
    color: $textColor1;
    padding: 8px 25px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.dashboard-btn-back {
  float: left;
  .icon-back {
    display: inline-block;
    height: 8px;
    margin-right: 5px;
    width: 5px;
    @include sprites-sprite(icon-back);
  }
  &:hover {
    background: #ebebeb;
  }
}

.dashboard-btn-down {
  text-align: center;
  .icon {
    @include sprites-sprite(icon-arrow-bottom);
    display: inline-block;
    margin-left: 4px;
    height: 5px;
    vertical-align: 2px;
    width: 8px;
  }
}

.dashboard-summary {
  margin: 1px 0;
  h2, th {
    font-weight: normal;
    text-transform: uppercase;
  }
  h2 {
    background: #888;
    color: white;
    font-size: 17px;
    font-weight: 400;
    margin: 0;
    padding: 5px 0;
    text-align: center;
  }
  th {
    text-align: right;
  }
  td {
    color: $textColor2;
  }
  .dashboard-summary-content {
    background: $bgColor6;
    height: 50px;
    padding: 15px 30px;
    text-transform: uppercase;
  }
  .currency {
    color: $textColor2;
    font-size: 25px;
    span {
      color: $textColor1;
      display: block;
      font-size: 13px;
      line-height: 1;
      margin-bottom: -3px;
    }
  }
  .safe {
    .icon {
      display: inline-block;
      height: 33px;
      vertical-align: middle;
      width: 33px;
      @include sprites-sprite(icon-safe);
    }
  }
  &:last-child {
    margin-left: 1px;
  }
}

.dashboard-article {
  padding: 25px 4%;
  h3:first-child {
    margin-top: 0;
  }
  ul {
    padding-left: 25px;
  }
  li {
    margin: 1em 0;
  }
  .char {
    text-align: left;
    iframe {
      display: block;
      margin: 1em auto;
      max-width: 380px;
    }
  }
  .row-padded {
    margin: 0 -2%;
  }
  .legend {
    border: 1px solid $borderColor1;
    margin: 1em 0;
    padding: 10px 0;
    text-align: center;
    .legend-item {
      display: inline-block;
      margin: 0 5px;
      font-size: 9px;
      text-transform: uppercase;
      .first, .second, .thirth {
        display: inline-block;
        height: 12px;
        width: 12px;
        vertical-align: -2px;
      }
      .first {
        background: #a22;
      }
      .second {
        background: #999;
      }
      .thirth {
        background: #ccc;
      }
    }
  }
}

.dashboard-list {
  border-top: 1px solid $borderColor1;

  &.hidden {
    display: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      border-bottom: 1px solid $borderColor1;
      padding: 10px 4%;
      &:hover {
        background: $bgColor14;
      }
    }
    a {
      display: block;
      color: $textColor1;
      text-decoration: none;
    }
    h3 {
      margin: .5em 0;
    }
  }
}

.dashboard-footer {
  background: $bgColor1;
  bottom: 0;
  color: $textColor4;
  height: 26px;
  padding: 13px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  a {
    color: $textColor4;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.thumb-list, .dashboard-article .thumb-list {
  list-style: none;
  margin: .5em 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  img {
    display: block;
  }
}

// jScrollPane
.jspScrollable:focus {
  outline: none;
}
.jspContainer {
  background: none;
}
.jspVerticalBar {
  width: 10px;
}

.jspHorizontalBar {
  height: 10px;
}

.jspTrack {
  background: #F2F2F2;
}

.jspDrag {
  background: $bgColor11;
}


// Icon Helper
.icon-helper {
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-right: 5px;
  height: 16px;
  position: relative;
  width: 16px;
  z-index: 10;
  @include sprites-sprite(icon-helper);
}


// Overlay
.overlay {
  background: rgba(0, 0, 0, .3);
  bottom: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100000;
  h2 {
    max-width: 70%;
  }
  .overlay-content {
    background: white;
    max-width: 800px;
    margin: 15% auto;
    padding: 50px;
    position: relative;
  }
  .overlay-close-btn {
    border: 0;
    color: transparent;
    height: 50px;
    position: absolute;
    right: 30px;
    text-indent: -99999px;
    top: 30px;
    width: 57px;
    z-index: 10;
    @include sprites-sprite(icon-overlay-close);
    &:hover {
      @include sprites-sprite(icon-overlay-close-hover);
    }
  }

  .overlay-thumb {
    float: left;
  }

  .overlay-thumb + .overlay-text {
    padding-left: 190px;
  }
}

.overlay-html {
  display: none;
}


// Application: Detail
.region-detail {
  background: $bgColor9;
  bottom: 0;
  left: -100%;
  min-width: 924px;
  position: absolute;
  top: 0;
  z-index: 1101;
  @include transition(left 0.3s ease);
  &.active {
    left: 0;
  }
  .content-school {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    @include box-shadow(0 0 15px rgba(0, 0, 0, 0.2));
  }
  .school-close {
    background: $bgColor9 image-url("assets/sprites/icon-school-close.png") no-repeat center center;
    display: block;
    height: 19px;
    padding: 4px;
    position: absolute;
    right: -27px;
    text-indent: -9999px;
    top: 25px;
    width: 19px;
  }
}

// Tooltip

#skinnytip-container {
  border-radius: 3px;
  font-size: 13px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);

  &:before {
    background-color: #FFF;
    content: "\00a0";
    display: block;
    height: 10px;
    position: absolute;
    top: 11px;
    left: -3px;
    transform: rotate( 29deg ) skew( -25deg );
    width:  9px;
  }
}

.browser-container {
  width: 100%;
  height: 100%;
  background: #F2F2F2;

  .browser-not-supported {
    width: 700px;
    height: 320px;
    background: #fff;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    .browser-box {
      width: 548px;
      height: 148px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      text-align: center;

      h3 {
        font-size: 29px;
      }

      .browser-content {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 1130px) {
  .row .region-dashboard {
    width: 375px;
  }
  .row .region-map {
    left: 375px;
    width: auto;
    right: 0;
  }
  .row .branding {
    width: 375px;
  }
  .row .navigation {
    left: 375px;
  }
}
