@import "main";

body {
  background: $bgColor1;
  color: white;
  padding-top: 88px;
}

h1, h2 {
  color: $textColor2;
  font-weight: 400;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 23px;
}

.logo {
  width: 311px;
  height: auto;
}

#homepage {
  bottom: 0;
  left: 0;
  min-width: 980px;
  position: absolute;
  right: 0;
  top: 88px;
}

.controls {
  margin-top: 40px;
  padding-left: 50px;
}

.btn-primary, .btn-secondary {
  border: 1px solid #4C6600;
  display: inline-block;
  font-size: 21px;
  font-weight: 300;
  margin: 0 20px 0 0;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 260px;
  @include border-radius(4px);
  @include transition(background .3s ease);
}

.btn-primary {
  background: $primary;
  color: white;
  &:hover {
    background-color: darken($primary, 10);
  }
}

.btn-secondary {
  background: white;
  color: $primary;
  &:hover {
    background-color: darken(white, 10);
  }
}

.btn-thirth {
  background: $primary;
  color: white;
  display: inline-block;
  margin: .5em 0 0 0;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  @include border-radius(4px);
  @include transition(background .3s ease);
  &:hover {
    color: $primary;
    background-color: darken(white, 10);
  }
}

.main-header {
  position: fixed;
  top: 0;
  min-width: 980px;
  width: 100%;
  z-index: 1;
}

.splash {
  min-width: 800px;
  h1 {
    font-size: 54px;
    font-weight: 300;
    margin: .5em 0;
    line-height: 1;
    .top, .bottom {
      margin-left: 0;
    }
  }
  p {
    font-weight: 300;
    .amount, .label {
      display: inline-block;
    }
    .amount {
      font-size: 42px;
      min-width: 145px;
      margin-right: 5px;
      text-align: right;
    }
    .label {
      font-size: 27px;
    }
  }
}

// Slider
.chachi-slider {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.chachi-slide-caption {
  background: rgba(0, 0, 0, .6);
  font-size: 15px;
  left: 0;
  padding: 30px 25% 30px 4%;
  position: absolute;
  bottom: 0;
  .pull-right {
    position: absolute;
    right: 50px;
    top: 50px;
  }
}
.chachi-slide-item {
  @include transition(opacity .5s ease);
  &:first-child .chachi-slide-caption {
    background: none;
    bottom: auto;
    left: 140px;
    padding: 0;
    top: 7%;
  }
}
.chachi-slide-next, .chachi-slide-prev {
  color: transparent;
  height: 125px;
  width: 97px;
  text-indent: -9999px;
  top: 40%;
}
.chachi-slide-next {
  @include sprites-sprite(chachi-slider-next);
  &:hover {
    @include sprites-sprite(chachi-slider-next-hover);
  }
}
.chachi-slide-prev {
  @include sprites-sprite(chachi-slider-prev);
  &:hover {
    @include sprites-sprite(chachi-slider-prev-hover);
  }
}

#spinner {
  left: 50%;
  position: absolute;
  top: 50%;
}


@media screen and (max-width: 1024px) {
  .chachi-slide-next, .chachi-slide-prev {
    top: 15%;
  }
}
