<div class="infowindow">
    <button href="#close" class="btn-close-infowindow close"></button>
    <div class="infowindow-content clearfix">
        <h4>Province</h4>
        <p class="info infosmall">{{provincia}}</p>
        <h4>District</h4>
        <p class="info infosmall">{{distrito}}</p>
        <h4>Type of intervention</h4>
        <p class="info infosmall">{{concepto2}}</p>
    </div>
</div>