<div class="infowindow">
    <button href="#close" class="btn-close-infowindow close"></button>
    <div class="infowindow-content clearfix">
        <h2>Province</h2>
        <p class="info">{{provincia}}</p>
        <h2>District</h2>
        <p class="info">{{distrito}}</p>
    </div>
</div>