<div id="resourcesTabs">
  <nav class="content-nav">
    <ul>
      <li><a href="#impact-of-disasters">Impact of Disasters</a></li>
      <li><a href="#general">General</a></li>
      <li><a href="#pillar-1">Pillar 1</a></li>
      <li><a href="#pillar-2">Pillar 2</a></li>
      <li><a href="#pillar-3">Pillar 3</a></li>
    </ul>
  </nav>

  <div id="impact-of-disasters" class="content">
    <header>
      <h1>Impact of Disasters</h1>

      <ul class="resources-table">
        {{#each data.impact}}
          <li>
            <div class="item-content">
              <div class="item-title">{{title}}</div>
              <div class="item-author">{{author}} - {{year}}</div>
            </div>
            <div class="item-download"><a href="./assets/resources/{{file}}" title="Download {{title}}" target="_blank">Download</a></div>
          </li>
        {{/each}}
      </ul>

    </header>
  </div>

  <div id="general" class="content">
    <header>
      <h1>General</h1>

      <ul class="resources-table">
        {{#each data.general}}
          <li>
            <div class="item-content">
              <div class="item-title">{{title}}</div>
              <div class="item-author">{{author}} - {{year}}</div>
            </div>
            <div class="item-download"><a href="./assets/resources/{{file}}" title="Download {{title}}" target="_blank">Download</a></div>
          </li>
        {{/each}}
      </ul>

    </header>
  </div>

  <div id="pillar-1" class="content">
    <header>
      <h1>Pillar 1</h1>

      <ul class="resources-table">
        {{#each data.pillar-1}}
          <li>
            <div class="item-content">
              <div class="item-title">{{title}}</div>
              <div class="item-author">{{author}} - {{year}}</div>
            </div>
            <div class="item-download"><a href="./assets/resources/{{file}}" title="Download {{title}}" target="_blank">Download</a></div>
          </li>
        {{/each}}
      </ul>

    </header>
  </div>

  <div id="pillar-2" class="content">
    <header>
      <h1>Pillar 2</h1>

      <ul class="resources-table">
        {{#each data.pillar-2}}
          <li>
            <div class="item-content">
              <div class="item-title">{{title}}</div>
              <div class="item-author">{{author}} {{#if year}} - {{year}}{{/if}}</div>
            </div>
            <div class="item-download"><a href="./assets/resources/{{file}}" title="Download {{title}}" target="_blank">Download</a></div>
          </li>
        {{/each}}
      </ul>

    </header>
  </div>

  <div id="pillar-3" class="content">
    <header>
      <h1>Pillar 3</h1> 

      <ul class="resources-table">
        {{#each data.pillar-3}}
          <li>
            <div class="item-content">
              <div class="item-title">{{title}}</div>
              <div class="item-author">{{author}} - {{year}}</div>
            </div>
            <div class="item-download"><a href="./assets/resources/{{file}}" title="Download {{title}}" target="_blank">Download</a></div>
          </li>
        {{/each}}
      </ul>

    </header>
  </div>
</div>