{% extends 'templates/layout.twig' %}

{% block stylesheets %}
  {% if env == 'production' %}
    <link rel="stylesheet" href="/dist/styles/content.css">
  {% else %}
    <link rel="stylesheet" href="/app/vendor/normalize-css/normalize.css">
    <link rel="stylesheet" href="/app/vendor/select2/select2.css">
    <link rel="stylesheet" href="/app/lib/jquery-ui/css/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="/.tmp/styles/content.css">
  {% endif %}
{% endblock %}

{% block javascripts %}
  {% if env == 'production' %}
    <script src="/dist/vendor/requirejs/require.js" data-main="/dist/scripts/content"></script>
  {% else %}
    <script src="/app/vendor/requirejs/require.js" data-main="/app/scripts/content/main"></script>
  {% endif %}
{% endblock %}
