{% spaceless %}
{% if env == 'production'%}
  {% set asset_url = '/dist' %}
{% else %}
  {% set asset_url = '/app' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | Global Program for Safer Schools</title>
    <link rel="icon" type="image/png" href="{{ asset_url ~ '/images/assets/favicon.png' }}">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <header class="main-header">
      <div class="row">
        <div class="branding col-4">
          <div class="brand">
            <h1><a href="{{ path('homepage') }}"><img class="logo" src="{{ asset_url ~ '/images/assets/logo.png' }}" alt="Global Program for Safer Schools"></a></h1>
          </div>
        </div>
        <div class="navigation">
          <nav class="main-nav">
            <ul>
              <li><a href="{{ path('map') }}" class="map{% if app.request.pathInfo == path('map') %} current{% endif %}">Data & Maps</a></li>
              <li><a href="{{ path('about') }}" class="about{% if app.request.pathInfo == path('about') %} current{% endif %}">About</a></li>
              <li><a href="{{ path('resources') }}" class="resources{% if app.request.pathInfo == path('resources') %} current{% endif %}">Resources</a></li>
              <li><a href="{{ path('contact') }}" class="contact{% if app.request.pathInfo == path('contact') %} current{% endif %}">Contact</a></li>
              {# <li><a href="#search" class="search"><span class="icon"></span> Search</a></li> #}
            </ul>
          </nav>
          <nav class="user-nav">
            <ul>
              <li><a href="#" class="login"><span class="icon"></span> Login</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    {% block main %}{% endblock %}

    {% block javascripts %}{% endblock %}
  </body>
</html>
{% endspaceless %}
